<!-- Contacts Section -->
<div class="bg-light position-relative">
  <div class="container space-bottom-2">
    <div class="row justify-content-center mb-5">
      <div class="col-md-1 d-none d-md-inline-block">
        <!-- Illustration -->
        <figure id="contactSVGillustration1" class="svg-preloader position-absolute bottom-0 left-0 w-100">
          <img class="js-svg-injector" src="../../assets/svg/illustrations/flowers.svg" alt="Image Description"
               data-parent="#contactSVGillustration1">
        </figure>
        <!-- End Illustration -->
      </div>

      <div class="col-md-10 col-lg-7 mt-n11">
        <!-- Contact Form -->
        <form class="js-validate card shadow-sm p-5">
          <div class="text-center mb-4">
            <h3 class="h4">Contact Sales</h3>
          </div>

          <div class="row mx-gutters-2">
            <div class="col-md-6 mb-3">
              <!-- Input -->
              <label class="sr-only">First Name</label>

              <div class="js-form-message">
                <div class="input-group">
                  <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Name" required
                         data-msg="Please enter your name."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->
            </div>

            <div class="col-md-6 mb-3">
              <!-- Input -->
              <label class="sr-only">Email address</label>

              <div class="js-form-message">
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="Email address" aria-label="Email address" required
                         data-msg="Please enter a valid email address."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->
            </div>

            <div class="w-100"></div>
          </div>

          <!-- Input -->
          <div class="mb-5">
            <label class="sr-only">How can we help you?</label>

            <div class="js-form-message input-group">
              <textarea class="form-control" rows="4" name="description" placeholder="Hi there, I would like to ..." aria-label="Hi there, I would like to ..." required
                        data-msg="Please enter a reason."
                        data-error-class="u-has-error"
                        data-success-class="u-has-success"></textarea>
            </div>
          </div>
          <!-- End Input -->

          <button type="submit" class="btn btn-primary transition-3d-hover">Submit</button>
        </form>
        <!-- End Contact Form -->
      </div>

      <div class="col-md-1 d-none d-md-inline-block">
        <!-- Illustration -->
        <figure id="contactSVGillustration2" class="svg-preloader ie-chatting-man position-absolute bottom-0 left-0 w-100">
          <img class="js-svg-injector" src="../../assets/svg/illustrations/chatting-man.svg" alt="Image Description"
               data-parent="#contactSVGillustration2">
        </figure>
        <!-- End Illustration -->
      </div>
    </div>
  </div>
</div>
<!-- End Contacts Section -->
