
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-2 space-top-md-5 space-top-lg-4 space-bottom-lg-3">
      <div class="row justify-content-lg-between mb-7">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h1 class="h2 font-weight-medium mb-3">Diagram with anyone, anywhere.</h1>
            <p>diagrams.net is open source, online, desktop and container deployable diagramming software</p>
          </div>

          <div class="mb-3">
            <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="https://app.diagrams.net/?src=about" target="_blank">Start</a>
            <a class="btn btn-outline-primary btn-wide transition-3d-hover mb-2 mb-sm-0" href="https://get.draw.io/" target="_blank">Download</a>
          </div>

          <p class="small">No login or registration required.</p>
          <!-- End Info -->
        </div>

        <div class="col-lg-6">
          <img src="assets/svg/home-dia1.svg" style="padding-bottom: 100px;"
            alt="Example diagram" width="540px" height="406px">

          <!-- End SVG Illustration -->
        </div>
      </div>

      <!-- Clients -->
      <div class="row justify-content-between text-center">
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/shopify.svg" alt="Shopify logo">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/twilio.svg" alt="Twilio logo">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/amazon.svg" style="padding-top: 5px;" alt="Amazon logo">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/google.svg" alt="Google">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/netflix.svg" alt="Netflix">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="assets/svg/uber.svg" alt="Uber">
          </div>
        </div>
      </div>

      <div class="w-md-80 w-lg-35 space-2 text-center mx-md-auto">
        <p class="mb-0">Click here for the non-technical, plain English explaination of what diagrams.net is.</p>
      </div>
      <!-- End Clients -->
    </div>
    <!-- End Hero Section -->

    <!-- SVG Top Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
           viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
        <polygon class="fill-gray-100" points="0,273 1921,273 1921,0 "/>
      </svg>
    </figure>
    <!-- End SVG Top Shape -->

    <!-- Features Section -->
    <div class="bg-light">
      <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <span class="d-block text-secondary font-size-1 font-weight-medium text-uppercase mb-2">Our Features</span>
          <h2 class="font-weight-medium">Diagram files created in 2005 will load in the app today</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
            <!-- Nav -->
            <ul class="nav nav-box" role="tablist">
              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4 active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features" aria-selected="true">
                  <div class="media">
                    <img src="assets/svg/icons/icon-7.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="56px" height="56px">
                  <div class="media-body">
                    <h3 class="h6">Share with everyone</h3>
                      <p class="mb-0">Don't worry about licenses or platforms, it just works.</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features" aria-selected="false">
                  <div class="media">
                    <figure id="icon23" class="svg-preloader ie-height-56 w-100 max-width-8 mt-2 mr-4">
                      <img class="js-svg-injector" src="assets/svg/icons/icon-23.svg" alt="SVG"
                           data-parent="#icon23">
                    </figure>
                    <div class="media-body">
                      <h4 class="h6">Powerful features</h4>
                      <p class="mb-0">diagrams.net has everything you expect from a professional diagramming tool.</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0">
                <a class="nav-link p-4" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">
                  <div class="media">
                    <figure id="icon44" class="svg-preloader ie-height-56 w-100 max-width-8 mt-2 mr-4">
                      <img class="js-svg-injector" src="assets/svg/icons/icon-44.svg" alt="SVG"
                           data-parent="#icon44">
                    </figure>
                    <div class="media-body">
                      <h4 class="h6">Privacy first</h4>
                      <p class="mb-0">Store your data wherever you want to. Open source code offers transparency.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>

          <div class="col-lg-7 order-lg-1 align-self-lg-end">
            <!-- Tab Content -->
            <div class="tab-content pr-lg-4">
              <div class="tab-pane fade show active" id="pills-one-code-features" role="tabpanel" aria-labelledby="pills-one-code-features-tab">
                <img src="../../assets/svg/home-dia2.svg" alt="Example diagram 2" style="padding-bottom: 50px;" width="611px" height="453px">
              </div>

              <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel" aria-labelledby="pills-two-code-features-tab">
                <div class="shadow-sm rounded">
                  <img class="img-fluid rounded-lg" src="../../assets/img/1618x1010/img3.jpg" alt="Image Description">
                </div>
              </div>

              <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
                <!-- SVG Laptop Mockup -->
                <figure id="SVGlaptopAndIphoneID2" class="svg-preloader ie-laptop-and-iphone">
                  <img class="js-svg-injector" src="../../assets/svg/components/laptop-and-iphone.svg" alt="Image Description"
                       data-img-paths='[
                         {"targetId": "#SVGlaptopAndIphoneImg1", "newPath": "../../assets/img/1618x1010/img1.jpg"},
                         {"targetId": "#SVGlaptopAndIphoneImg2", "newPath": "../../assets/img/282x500/img7.jpg"}
                       ]'
                       data-parent="#SVGlaptopAndIphoneID2">
                </figure>
                <!-- SVG Laptop Mockup -->
              </div>
            </div>
            <!-- End Tab Content -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- SVG Bottom Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
           viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
        <polygon class="fill-gray-100" points="1921,0 0,0 0,273 "/>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->

    <!-- Features Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="font-weight-medium">Works with your existing tools</h2>
      </div>
      <!-- End Title -->

      <!-- Icon Blocks -->
      <div class="row mb-9">
        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon29" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-29.svg" alt="SVG"
                   data-parent="#icon29">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">GSuite and Google Drive</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=google" target="_blank">Google Drive</a> and <a href="https://gsuite.draw.io/" target="_blank">G Suite</a>. Use add-ons for
            <a href="https://docsaddon.draw.io/" target="_blank">Docs</a>,
            <a href="https://sheetsaddon.draw.io/" target="_blank">Sheets</a>
            and
            <a href="https://slidesaddon.draw.io/" target="_blank">Slides</a>.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon26" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-26.svg" alt="SVG"
                   data-parent="#icon26">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Sharepoint and OneDrive</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=onedrive" target="_blank">OneDrive and Sharepoint</a>. <a href="https://office.draw.io/" target="_blank">Office 365 app</a> for Word, Powerpoint and Excel.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon31" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-31.svg" alt="SVG"
                   data-parent="#icon31">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Atlassian</h4>
            </div>
          </div>
          <p>Highest-rated <a href="https://marketplace.atlassian.com/apps/1214854/diagram-viewer-for-confluence-cloud" target="_blank">Confluence app</a> in the Atlassian Marketplace*. Works in <a href="https://marketplace.atlassian.com/apps/1211413/draw-io-diagrams-for-jira?hosting=cloud&tab=overview">Jira</a> too.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon37" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-37.svg" alt="SVG"
                   data-parent="#icon37">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Git and Dropbox</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=github" target="_blank">Github</a>, <a href="https://app.diagrams.net/?mode=gitlab" target="_blank">GitLab</a> and <a href="https://app.diagrams.net/?mode=dropbox" target="_blank">Dropbox</a> for visual documentation in distributed teams.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon5" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-5.svg" alt="SVG"
                   data-parent="#icon5">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Desktop</h4>
            </div>
          </div>
          <p>Download <a href="https://get.draw.io" target="_blank">diagrams.net Desktop</a> for offline use on Windows, macOS, Linux and ChromeOS.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon28" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-28.svg" alt="SVG"
                   data-parent="#icon28">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">NextCloud</h4>
            </div>
          </div>
          <p>NextCloud is an ideal on-premise file hosting system for diagrams.net.*</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->

      <div class="text-center">
        <div class="mb-3">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="#">See more</a>
          <a class="btn btn-outline-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="#">Let's talk</a>
        </div>

        <p class="small">* Third-party integration.</p>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- SVG Top Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
           viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
        <polygon class="fill-gray-100" points="0,273 1921,273 1921,0 "/>
      </svg>
    </figure>
    <!-- End SVG Top Shape -->

    <!-- Features Section -->
    <div class="container">
      <div class="border-bottom space-2 space-lg-3">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 order-lg-2 mb-7 mb-lg-0">
            <div class="pr-lg-5">
              <div class="bg-dark rounded min-height-450 p-5">
                <!-- Nav -->
                <ul class="nav nav-pills nav-white nav-justified font-weight-medium" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-one-code-sample-tab" data-toggle="pill" href="#pills-one-code-sample" role="tab" aria-controls="pills-one-code-sample" aria-selected="true">
                      JS
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-two-code-sample-tab" data-toggle="pill" href="#pills-two-code-sample" role="tab" aria-controls="pills-two-code-sample" aria-selected="false">
                      PHP
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-three-code-sample-tab" data-toggle="pill" href="#pills-three-code-sample" role="tab" aria-controls="pills-three-code-sample" aria-selected="false">
                      Ruby
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-four-code-sample-tab" data-toggle="pill" href="#pills-four-code-sample" role="tab" aria-controls="pills-four-code-sample" aria-selected="false">
                      C++
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-five-code-sample-tab" data-toggle="pill" href="#pills-five-code-sample" role="tab" aria-controls="pills-five-code-sample" aria-selected="false">
                      Python
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-six-code-sample-tab" data-toggle="pill" href="#pills-six-code-sample" role="tab" aria-controls="pills-six-code-sample" aria-selected="false">
                      Java
                    </a>
                  </li>
                </ul>
                <!-- End Nav -->

                <!-- Tab Content -->
                <div class="tab-content">
                  <div class="tab-pane fade pt-5 show active" id="pills-one-code-sample" role="tabpanel" aria-labelledby="pills-one-code-sample-tab">
                    <!-- Code Sample -->
                    <div class="text-monospace font-size-1">
                      <div class="mb-4">
                        <span class="text-danger pr-2">public class</span>
                        <span class="text-white-70">AppInheritanceTest {</span>
                      </div>
                      <div class="pl-3 mb-1">
                        <span class="text-danger pr-2">public static void</span>
                        <span class="text-white-70">main(String[] args) {</span>
                      </div>
                      <div class="pl-6 mb-4">
                        <span class="text-white-70">Front</span>
                        <span class="text-danger">front</span>
                        <span class="text-white-70">=</span>
                        <span class="text-danger">new</span>
                        <span class="text-white-70">Front(</span><span class="text-danger">true</span><span class="text-white-70">,</span>
                        <span class="text-primary">"theme"</span><span class="text-white-70">,</span> <span class="text-danger">4</span><span class="text-white-70">);</span>
                      </div>
                      <div class="pl-6 mb-1">
                        <span class="text-white-70">System.</span><span class="text-primary"><em>out</em></span><span class="text-white-70">.println(</span><span class="text-primary">"Is Front Responsive?"</span>
                        <span class="text-white-70">+</span>
                        <span class="text-danger">front</span><span class="text-white-70">.isResponsive());</span>
                      </div>
                      <div class="pl-6 mb-1">
                        <span class="text-white-70">System.</span><span class="text-primary"><em>out</em></span><span class="text-white-70">.println(</span><span class="text-primary">"Front HTML "</span>
                        <span class="text-white-70">+</span>
                        <span class="text-danger">front</span><span class="text-white-70">.getHTML());</span>
                      </div>
                      <div class="pl-6 mb-1">
                        <span class="text-white-70">System.</span><span class="text-primary"><em>out</em></span><span class="text-white-70">.println(</span><span class="text-primary">"Front has "</span>
                        <span class="text-white-70">+</span>
                        <span class="text-danger">front</span><span class="text-white-70">.getDemos()</span>
                        <span class="text-white-70">+</span>
                        <span class="text-primary">" demos."</span><span class="text-white-70">);</span>
                      </div>
                      <div class="pl-3 mb-1">
                        <span class="text-white-70">}</span>
                      </div>
                      <div class="mb-1">
                        <span class="text-white-70">}</span>
                      </div>
                    </div>
                    <!-- End Code Sample -->
                  </div>

                  <div class="tab-pane fade text-white-70 pt-5" id="pills-two-code-sample" role="tabpanel" aria-labelledby="pills-two-code-sample-tab">
                    Coming soon...
                  </div>

                  <div class="tab-pane fade text-white-70 pt-5" id="pills-three-code-sample" role="tabpanel" aria-labelledby="pills-three-code-sample-tab">
                    Coming soon...
                  </div>

                  <div class="tab-pane fade text-white-70 pt-5" id="pills-four-code-sample" role="tabpanel" aria-labelledby="pills-four-code-sample-tab">
                    Coming soon...
                  </div>

                  <div class="tab-pane fade text-white-70 pt-5" id="pills-five-code-sample" role="tabpanel" aria-labelledby="pills-five-code-sample-tab">
                    Coming soon...
                  </div>

                  <div class="tab-pane fade text-white-70 pt-5" id="pills-six-code-sample" role="tabpanel" aria-labelledby="pills-six-code-sample-tab">
                    Coming soon...
                  </div>
                </div>
                <!-- End Tab Content -->
              </div>
            </div>
          </div>

          <div class="col-lg-5 order-lg-1">
            <div class="mb-5">
              <h2 class="font-weight-medium">Extend it, deploy it</h2>
              <p>diagrams.net is designed to be easy to configure and fast to deploy.</p>
            </div>

            <!-- List -->
            <div class="row mb-4">
              <div class="col-6">
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Docker
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Plugins
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Custom libraries
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Custom styles
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Easy to embed
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    Whitelabel
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="../../assets/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    API
                  </div>
                </div>
              </div>
            </div>
            <!-- End List -->

            <a class="btn btn-primary transition-3d-hover" href="https://github.com/jgraph/drawio" target="_blank">diagrams.net @Github <small class="fas fa-arrow-right ml-1"></small></a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Global Compulsory -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/js/hs.megamenu.js"></script>
  <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

  <!-- JS Front -->
  <script src="assets/js/hs.core.js"></script>
  <script src="assets/js/hs.header.js"></script>
  <script src="assets/js/hs.unfold.js"></script>
  <script src="assets/js/home-init.js"></script>
